.bg-growth{
    background-color: #5A47D1;
}

.text-growth{
    color: #5A47D1;
}

.bg-orange{
    background-color: #D15747;
}

.text-orange{
    color: #D15747;
}

a:hover{
    text-decoration: none;
}

.main{
    margin-top: 3.9rem;
}

.main-container{
    border: solid 0.1px #dcdcdc;
}

.side-container{
    height: 100%;
    position: sticky;
    top: 60px;
}

.side-menu{
    height: 25%;
}

.card{
    box-shadow: none;
    border-radius: 0;
    border-bottom: solid 0.1px #dcdcdc;
    margin-bottom: 0;
}

.card-top{
    font-weight: 700;
}

.card-body h5{
    font-weight: 700;
}

.btn-post{
    width: 70%;
    font-size: 1rem;
    box-shadow: 1.5px 3px 5px 3px rgba(71, 135, 209, 0.5);
}

.btn-post:hover, .btn-post:hover, .btn-post:focus, .btn-comment:hover, .btn-comment:active, .btn-comment:focus{
    background-color: rgba(90, 71, 209, 0.8);
    box-shadow: 1px 1px 1px 1px rgba(71, 135, 209, 0.5);
}

.btn-comment{
    width: 300px;
    font-size: 1rem;
    box-shadow: 1.5px 3px 5px 3px rgba(71, 135, 209, 0.8);
}

.btn-like{
    width: 80px;
    font-size: 1rem;
}

.btn-like:hover, .btn-like:active, .btn-like:focus{
    background-color: rgba(209, 87, 71, 0.5);
    box-shadow: 0px rgba(209, 87, 71, 0.5);
}

.pagination .page-item .page-link{
    color: #5A47D1;
}

.pagination .page-item.active>.page-link, .pagination .page-item.active>.page-link:focus, .pagination .page-item.active>.page-link:hover {
    background-color: #5A47D1;
    border-color: #888888;
    color: #FFFFFF;
    z-index: 0;
}

.input-title{
    width: 100%;
    border: none;
    background-color: #f5f5f5;
}

.input-text{
    width: 100%;
    border: none;
    background-color: #f5f5f5;
}

.modal .modal-header .close {
    color: #5A47D1;
    text-shadow: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #5A47D1;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-style: none;
}

.modal-content .modal-header button {
    position: absolute;
    right: 27px;
    top: 30px;
    outline: 0;
}

.fa-comment{
    font-size: 1.2rem;
}

.fa-share{
    font-size: 1.4rem;
}

.tabContents {
    display: none;
}

.tabContents.active {
    display: block;
}

.comment-button{
    position: sticky;
    bottom: 50px;
}